<section id="featur-colls">
  <div class="container-custom">
    <div class="row">
      {% for block in section.blocks %}
        {% render 'custom-collection-cart', block_block: block %}
      {% endfor %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Featured collections new",
  "settings": [],
  "blocks": [
    {
      "type": "collection",
      "name": "Collection",
      "settings": [
        {
          "type": "collection",
          "id": "collection_id",
          "label": "Collection"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Featured collections new",
      "blocks": [
        {
          "type": "collection"
        }
      ]
    }
  ]
}
{% endschema %}
